.playButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .5rem;
    height: 2rem;
    margin: 0 0 1rem 0;
}

.playOptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .5rem;
    height: 2rem;
}

.gridContainer {
    display: flex;
    justify-items: center;
    margin: 1rem auto auto auto;
    width: max-content;
    position: relative;
    flex-direction: column;
}

.idxContainer{
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    margin: auto;
    padding: 1rem;
    background-color: #344955;
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
}

.title{
    color: #FFF;
    margin: 1rem 0 1rem 0;
}

.cell {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    background-color: #FCD6D3;
    border-width: thin;
}

.cellSelected {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    background-color: #666666;
    border-width: thin;
}


.cellVisited {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    background-color: #D32323;
    border-width: thin;
}

.cellNeighbor {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    background-color: #F8ADA8;
    border-width: thin;
}

.cellActive {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    background-color:#FFEE98;
    border-width: thin;
}

.cellFound {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    background-color:#46923C;
    border-width: thin;
}

.gridRow {
    display: flex;
}

body {
    background-color: #50727B;
}