.cell {
    height: 2.5rem;
    width: 2.5rem;
    background-color: #FCD6D3;
    border-width: thin;
}

.cellSelected {
    height: 2.5rem;
    width: 2.5rem;
    background-color: #666666;
    border-width: thin;
}


.cellVisited {
    height: 2.5rem;
    width: 2.5rem;
    background-color: #D32323;
    border-width: thin;
}

.cellNeighbor {
    height: 2.5rem;
    width: 2.5rem;
    background-color: #F8ADA8;
    border-width: thin;
}

.cellActive {
    height: 2.5rem;
    width: 2.5rem;
    background-color:#FFEE98;
    border-width: thin;
}

.cellFound {
    height: 2.5rem;
    width: 2.5rem;
    background-color:#46923C;
    border-width: thin;
}

.gridRow {
    display: flex;
}